.header{
height: 60px;
max-width: 1920px;
background-color: black;
}

.logo{
    margin-left: 300px;
    margin-top: 5px;
}

.main{
    background-image: url("assets/img/forest.jpg");
    height: calc(100vh - 120px);
}

.footer{
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: black;
    }

.header_wrapper{
    display: flex;
    flex-direction: row;
    }
    
 /*   .main_wrapper{
        background-image: url("assets/img/forest.jpg");
    } */