:root {
    --brown: #bdae82;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
    height: 100%; 
  }

  .wripper{
    min-height: 100%;
  }

  .header{
    height: 60px;
    max-width: 100%;
    background-color: black;
    }

    .search_form{
        margin-left: auto;
        width: fit-content;
    }

    .search_svg{
        width: 30px;
        height: 30px;
    }

    .search{
     height: 30px;
     margin: 5px;
    }

    .main{
    height: 600%;
    }

    .images{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 60px;
     margin: 15px;

    }

    .image{
        margin: 20px;
        max-width: 570px;
        max-height: 400px;
        overflow: hidden;
      }

      .image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

  .footer{
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    }

    .footer_wripper{
    margin-left: 68px;
    margin-right: 68px;
    display: flex;
    flex-direction: row;
    /* width: calc(100hv - 40px); */
    }

    .rss_logo{
    width: 135px;
    height: 50px;
    margin-top: -15px;    
    }

    .rss_logo:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
        contrast(87%);
      }

    .rss_link{
        margin-left: auto;
    }

    .footer_caption{
        font-size: 20px;
        padding-top: 19px;
        padding-right: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .footer_wripper a {
        color: #FFFFFF;
        text-decoration: none;
        padding-top: 20px;
    }

    .footer_caption:hover {
        color:  var(--brown); 
      }

      .logo.active{
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
      }

      .logo:hover{
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
        contrast(87%);
      }